*{
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: whitesmoke;
    padding: 3px;
}

.logo{
    height: 60px;
    border-radius: 50%;
}

.header p{
    font-weight: bold;
    display: relative;
    top: 100px;
    left: 100px;
}